<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <%= link_to "Seikatsu", :root, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "ホーム", :root, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿する", [:new, :item], class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "マイページ", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "設定", "#", class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>